.signin {
  margin-top: 120px;
  margin-left: 144px;
  width: 450px;
}

h1, p {
  user-select: none;
}

.signin-desc {
  margin-top: 48px;
  margin-bottom: 48px;
}

#signin-google {
  width: 160px;
  height: 48px;
}