.signin {
  margin-top: 120px;
  margin-left: 144px;
  width: 450px;
}

.signin-title {
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.25em;
  user-select: none;
}

.signin-desc {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.25em;
  user-select: none;
}

#signin-google {
  margin-top: 24px;
  width: 160px;
  height: 48px;
}