<!doctype html>
<!---Base code: https://developers.google.com/identity/sign-in/web/ -->
<html>
  <head>
    <title>Account</title>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  </head>
  <body>
    <h1>Account</h1>
    <a href="/login" onclick="signOut();">Sign out</a>
    <script>
        function init() {
          gapi.load('auth2', () => {
             gapi.auth2.init({ client_id: '<%= GOOGLE_CLIENT_ID %>.apps.googleusercontent.com' });
          }); // TODO .then(onInit, onError)
        }

        function signOut() {
          fetch('/logout', { method: 'POST' }).then((res) => {
            const auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();
          });
        }
    </script>
  </body>
</html>