<form class="address-form">
  <mat-form-field>
    <input matInput placeholder="Name" aria-label="Name" [matAutocomplete]="auto" [formControl]="nameCtrl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="nameChanged($event)">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
        <img class="profile-img" aria-hidden [src]="user.pictureURL">
        <span>{{user.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder=Location>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</form>