.address-form {
  width: 350px;
}

mat-form-field {
  width: 100%;
  font-size: inherit;
}

table {
  width: 350px;
}

.profile-img {
  vertical-align: middle;
  margin-right: 8px;
  height: 25px;
  width: 25px;
}

.profile-name {
  vertical-align: middle;
}

.city {
  width: 165px;
}

.state {
  width: 165px;
  margin-left: 20px;
}

.postal {
  width: 110px;
}

.country {
  width: 220px;
  margin-left: 20px;
}