.container {
  margin-top: 72px;
}

.signout-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
  padding-right: 24px;
  font-weight: 600;
  font-size: 28px;
  user-select: none;
  cursor: pointer;
}