.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 84px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}

app-address-form {
  margin-top: 10px;
  margin-bottom: auto;
}