.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 72px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}

h2 {
  font-weight: 600;
  font-size: 42px;
}

app-address-form {
  margin-top: 18px;
  margin-bottom: auto;
}