nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  user-select: none;
  margin-top: 36px;
  margin-bottom: 0px;
}

.nav-title {
  margin: initial;
  padding-right: 24px;
  color: inherit;
  align-self: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: 10px;
  list-style: none;
}

.link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.linkLeft {
  padding-left: 0px;
}

.linkRight {
  padding-right: 0px;
}