<nav class="std-side-margins">
  <a routerLink="/ship" i18n="@@ship" class="mat-display-3 nav-title">
    Project Desire
  </a>
  <ul class="nav-links mat-display-1">
    <li><a [ngClass]="{ 'link': true, 'linkLeft': true, 'text-color-disabled': !shipActive, 'text-color-normal': shipActive }" (mouseover)="hoverActivated($event)" (mouseout)="hoverDeactivated($event)" routerLink="/ship" i18n="@@ship">
      Ship
    </a></li>
    <li><a [ngClass]="{ 'link': true, 'text-color-disabled': !historyActive, 'text-color-normal': historyActive }" (mouseover)="hoverActivated($event)" (mouseout)="hoverDeactivated($event)" routerLink="/history" i18n="@@history">
      History
    </a></li>
    <li><a [ngClass]="{ 'link': true, 'linkRight': true, 'text-color-disabled': !accountActive, 'text-color-normal': accountActive }" (mouseover)="hoverActivated($event)" (mouseout)="hoverDeactivated($event)" routerLink="/account" i18n="@@account">
      Account
    </a></li>
  </ul>
</nav>