<nav class="nav-main">
  <a routerLink="/ship" i18n="@@ship" class="nav-title">
    Project Desire
  </a>
  <ul class="nav-links">
    <li><a routerLink="/ship" routerLinkActive="activeLink" i18n="@@ship" class="inactiveLink">
      Ship
    </a></li>
    <li><a routerLink="/history" routerLinkActive="activeLink" i18n="@@history" class="inactiveLink">
      History
    </a></li>
    <li><a routerLink="/account" routerLinkActive="activeLink" i18n="@@account" class="inactiveLink">
      Account
    </a></li>
  </ul>
</nav>