nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  user-select: none;
  margin-top: 24px;
  margin-bottom: 0px;
}

.nav-title {
  padding-right: 24px;
  align-self: center;
  font-size: 56px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 28px;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: 14px;
  list-style: none;
}

.link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.linkLeft {
  padding-left: 0px;
}

.linkRight {
  padding-right: 0px;
}

.inactiveLink {
  color: #77757A;
  opacity: 0.75;
}

.activeLink {
  color: #22172D;
  opacity: 1;
}