* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none;
}

.std-side-margins {
  margin-left: 84px;
  margin-right: 84px;
}