.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 72px;
}

.no-shipments {
  display: flex;
  justify-content: center;
  user-select: none;
}

a {
  font-weight: 700;
  color: inherit;
}